<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9am-9:50am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10am - 10:50am</td>        <!-- time    -->
        <td>Using Lavaan and Dagitty</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11am - 11:50am</td>        <!-- time    -->
        <td>Confirmatory factor analysis using Lavaan</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00am - 9:50 am</td>        <!-- time    -->
        <td>Structural Models</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 am - 10:50 am</td>        <!-- time    -->
        <td>Mediation analysis</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00am - 11:50 am</td>        <!-- time    -->
        <td>Growth curve analysis</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>

  
